<app-route-summary></app-route-summary>
<app-route-details></app-route-details>

<div class="top-left-icons">
    <a [routerLink]="['/home', from, to]">
        <img id="home" src="assets/home.svg">
    </a>
    <a [routerLink]="['/main', to, from]">
        <img id="reverse" src="assets/reverse.svg">
    </a>
    <br/>
    <img src="assets/full-screen.svg" (click)="fullScreen.toggleFullscreen();">
    <img id="demo" src="assets/demo.svg" (click)="startDemo();">
</div>
<div class="top-right-icons">
    <img *ngIf="locationError" src="assets/gps-error.svg">
</div>
<div class="bottom-left-icons">
    <a href="https://github.com/PeterLaudy/TrafficAssist" target="blank">
        <img src="assets/github.svg">
    </a>
</div>
