div.top-left-icons {
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    width: 80 px;
    position: absolute;
}

div.top-right-icons {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute;
}

div.bottom-left-icons {
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

div.bottom-right-icons {
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

div.credits {
    background-color: #0000003F;
    position: absolute;
    width: 100%;
    height: 100%;
}

div.credits div {
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 25%;
    width: 50%;
    background-color: white;
    opacity: 1;
}

div.credits div div {
    position: absolute;
    text-align: center;
    top: calc(50% - 12px);
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Arial;
    font-size: 24px;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: block;
    background-color: burlywood;
}

svg.details {
    background-color: transparent;
}

svg.distance {
    top: 0px;
    left: calc(50% - 32px);
    width: 64px;
    height: 48px;
    position: absolute;
}

svg.distance text {
    font-size: 80px;
    fill: black;
    animation: none;
}

polyline.detail {
    stroke: green;
    stroke-width: 0.05px;
    opacity: 0.25;
}

polyline.route-detail {
    stroke: blue;
    stroke-width: 0.05px;
    opacity: 0.5;
}

circle.route-detail {
    fill: yellow;
    animation: none;
    opacity: 0.75;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes grow {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes size {
    0% { r: 0; }
    100% { r: 3; }
}

polyline {
    stroke-linecap: round;
    fill: none;
}

polyline.route {
    stroke: blue;
    stroke-width: 1px;
    animation: fade-in 1s ease-out;
}

polyline.traffic-info {
    stroke: red;
    stroke-width: 1.5px;
    animation: fade-in 1s ease-out;
}

circle {
    fill: darkgoldenrod;
    animation: grow 1s ease-out;
}

circle.me {
    fill: yellow;
    animation: size 1s ease-out;
}

circle.accuracy {
    fill: black;
    opacity: 0.1;
    animation: none;
}

line.radar {
    stroke-linecap: round;
    stroke: red;
    stroke-width: 3px;
}

path.radar, circle.radar {
    fill: red;
    animation: none;
}

text {
    fill: white;
    font-family: Arial;
    font-size: 5px;
    font-variant-caps: small-caps;
    animation: fade-in 1s ease-in;
}

div.top-left-icons img {
    width: 32px;
    height: 32px;
    margin: 0 16px 16px 0;
}

div.top-right-icons img {
    width: 48px;
    height: 48px;
    margin: 0 0 16px 16px;
}

div.bottom-left-icons img {
    width: 48px;
    height: 48px;
    margin: 16px 16px 0 0;
}

div.bottom-right-icons img {
    width: 32px;
    height: 32px;
    margin: 16px 0 0 16px;
}
